PORT=3000

# Database connections
# NOTE, the migrations functions only would works after run the `supabase link --project-ref <project-ID>` command 
# LEGACY:
# SUPABASE_URL=
# SUPABASE_PUBLISHABLE_KEY=
# SUPABASE_SECRET_KEY=
# SUPABASE_JWKS_URL=

# CURRENT:
SUPABASE_URL=
SUPABASE_KEY=
